[user]
  name = hogehoge
  email = hogehoge@mail

[core]
  pager = less -r
  editor = vim
  excludesfile = ~/.gitignore

[color]
  ui = auto

[web]
  browser = google-chrome

[alias]
  st = status
  sh = show
  co = checkout
  dw = diff -C --color-words
  branches = branch -a
  branchout = checkout -b

[pager]
  diff = diff-highlight | less
  show = diff-highlight | less
  log = diff-highlight | less

[diff]
  algorithm = histogram

[includeIf "gitdir:~/Documents/Products/Private/"]
  path = ~/.gitconfig-private
